.conutry-card{
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:1px) {
    .conutry-card {
        width:100%;
    }
}

@media screen and (min-width:700px) {
    .conutry-card {
        width:50%;
    }
}

@media screen and (min-width:1200px) {
    .conutry-card {
        width:30%;
    }
}

